# ignore file types
**/*.json
**/*.log
**/*.mp3
**/*.pyc
**/*.xml

# ignore specific files
**/.cache
**/.DS_store
**/.python-version
**/*.code-workspace

# ignore directories
src/djtools/_*configs*

# include base configs directory
!src/djtools/configs/*
