# ignore file types
**/*.json
**/*.log
**/*.mp3
**/*.pyc
**/*.xml

# ignore specific files
**/.cache
**/.DS_store
**/.python-version
**/*.code-workspace

# ignore directories
logs/*

# allow tracking of essential configs
!src/djtools/configs/config_template.json
!src/djtools/configs/logging.conf
!src/djtools/configs/registered_users.json
