# ignore file types
**/*.log
**/*.pyc

# ignore specific files
**/*.cache
**/*.coverage*
**/.DS_store
**/.python-version
**/*.code-workspace
**/*.idea

# ignore directories
**/__pycache__
dist
site
src/djtools.egg-info 

# allow test data
!tests/data/*
