[DESIGN]

disable=abstract-class-instantiated,broad-exception-caught,broad-exception-raised,import-outside-toplevel,no-name-in-module

good-names=USER

max-args=10

max-attributes=15

max-branches=25

max-locals=30

max-statements=100

min-public-methods=0

[LOGGING]

disable=logging-fstring-interpolation

[SPELLING]

spelling-ignore-words=argparse,Args,async,Async,aws,awscli,beatcloud,Beatcloud,boolean,cfg,CLI,cmd,config,configs,dirs,djtools,dicts,dl,DnB,Dubstep,exc,Levenshtein,NameSpace,pathlib,parsers,Popen,praw,pre,proc,Pydantic,pytest,reddit,Reddit,rekordbox,Rekordbox,Soundcloud,spotify,Spotify,stderr,stdout,str,subprocess,subreddit,subreddits,substrings,superclass,symlink,symlinks,Techstep,unioning,unix,url,utils,webhook,whitespace,XML's,yaml,youtube
