[DESIGN]

disable=abstract-class-instantiated,broad-exception-caught,broad-exception-raised,import-outside-toplevel,no-name-in-module

good-names=USER

max-args=10

max-attributes=15

max-branches=25

max-locals=35

max-statements=100

min-public-methods=0

max-returns=8

[LOGGING]

disable=logging-fstring-interpolation

[MASTER]
ignore-paths=^scripts/.*$

[SPELLING]

spelling-ignore-words=/dj/,dj/,arg,args,argparse,argparser,Args,async,Async,asyncpraw,aws,awscli,Bandcamp,beatcloud,Beatcloud,beatgrid,Beatport,bitrate,bool,boolean,cfg,CLI,cmd,config,configs,cp,datetime,deduplicate,de,del,Denon,deserialize,deserializes,dest,dirs,dj,djtools,dicts,dl,DnB,Dubstep,Dunder,dunder,entrypoint,exc,FFmpeg,fixturename,formatter,FullLoader,func,HH,HH:MM:SS,hookimpl,hookwrapper,init,json,kbps,kwarg,kwargs,Levenshtein,lookups,misformattings,namespace,Namespace,pathlib,parsers,Picard,Popen,pragma,praw,pre,proc,Pydantic,pytest,reddit,Reddit,rekordbox,Rekordbox,Rekordbox's,relocations,repr,s3,Serato,serializable,spotipy,Soundcloud,spotify,Spotify,stderr,stdout,str,subprocess,subreddit,subreddits,substrings,superclass,symlink,symlinks,teardown,Techstep,tmpdir,TrackID,Traktor,unattributable,unioned,unioning,unix,url,utils,Validator,wav,wb,webhook,whitespace,xml,XML's,yaml,youtube
