[DESIGN]

disable=abstract-class-instantiated,broad-exception-caught,broad-exception-raised,import-outside-toplevel,no-name-in-module

good-names=USER

max-args=10

max-attributes=15

max-branches=25

max-locals=30

max-statements=100

min-public-methods=0

max-returns=8

[LOGGING]

disable=logging-fstring-interpolation

[SPELLING]

spelling-ignore-words=/dj/,dj/,arg,argparse,argparser,Args,async,Async,asyncpraw,aws,awscli,Bandcamp,beatcloud,Beatcloud,beatgrid,Beatport,bool,boolean,cfg,CLI,cmd,config,configs,cp,datetime,deduplicate,del,dest,dirs,dj,djtools,dicts,dl,DnB,Dubstep,entrypoint,exc,fixturename,hookimpl,hookwrapper,json,Levenshtein,lookups,misformattings,NameSpace,pathlib,parsers,Picard,Popen,praw,pre,proc,Pydantic,pytest,reddit,Reddit,rekordbox,Rekordbox,Rekordbox's,relocations,s3,spotipy,Soundcloud,spotify,Spotify,stderr,stdout,str,subprocess,subreddit,subreddits,substrings,superclass,symlink,symlinks,teardown,Techstep,tmpdir,unattributable,unioned,unioning,unix,url,utils,Validator,webhook,whitespace,xml,XML's,yaml,youtube
