beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9
coverage==5.5
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.9
fuzzywuzzy==0.18.0
idna==3.3
lxml==4.7.1
packaging==21.3
praw==7.5.0
prawcore==2.3.0
pyparsing==3.0.6
python-Levenshtein==0.12.2
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
spotipy==2.19.0
toml==0.10.2
tqdm==4.62.3
update-checker==0.18.0
urllib3==1.26.7
websocket-client==1.2.3
youtube-dl==2021.12.17
